;; shadow-cljs configuration
{:deps {:aliases [:dev]}

 :dev-http {8005 "public"}

 :builds
 {:app
  {:target :esm
   :output-dir "public/js"
   :modules
   {:main
    {:init-fn demo.app/init}

    :account-overview
    {:entries [demo.components.account-overview]
     :depends-on #{:main}}

    :product-listing
    {:entries [demo.components.product-listing]
     :depends-on #{:main}}

    :product-detail
    {:entries [demo.components.product-detail]
     :depends-on #{:product-listing}}

    :sign-in
    {:entries [demo.components.sign-in]
     :depends-on #{:main}}

    :sign-up
    {:entries [demo.components.sign-up]
     :depends-on #{:main}}}
   }}}
